/*
  *
  General Colors
  *
*/
$primary-color: #0e59b3;
$secondary-color: #fff835;
$active-color: #064088;
$ascent-1-color: #2980B9;
$ascent-2-color: #F39C12;
$ascent-3-color: #C0392B;
$ascent-4-color: #1D2A37;
$ascent-5-color: #131C24;
$action: #21ba45;


/*
  *
  Checkout Colors
  *
*/
$bg-checkout-success: $primary-color; //#21ba45;
$text-checkout-success: #FFF;

$bg-checkout-success-dark: darken($primary-color, 5); //#0e4f1d;
$text-checkout-success-dark: #FFF;

$button-bg-checkout-success-dark: transparent;
$button-border-checkout-success-dark: #FFF;
$button-text-checkout-success-dark: #FFF;

$bg-checkout-error: #DB2828;
$text-checkout-error: #FFF;