﻿@model DomainProduct.Filters
<div class="row" id="filter">
    <div class="ui labels">

    </div>
    <div class="four wide row filtros" id="filtros">
        <!-- <div class="ui grid one row"> -->
        <div class="">
            <div class="row">
                <div class="row filterbar">
                    <div class="eight wide row">
                        <h3>Filtros</h3>
                    </div>
                    <div class="eight wide row">
                        <a class="ui button black icon closeFiltros"><i class="remove icon"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="ui accordion" id="filtroList" style="flex-direction: row;display: flex;align-items: flex-start;justify-content: space-between;">
                        
                        @if (Model.References != null && Model.References.Count() > 0)
                        {
                            <div style="    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    border: 1px solid #ccc;margin-right: 6px;padding:5px">
                            <!-- Page: ~/Views/Shared/Blocks/Product/_ReferencesFilters.cshtml -->
                            @Html.Partial("~/Views/Shared/Blocks/Product/_ReferencesFilters.cshtml", Model.References)
                            </div>
                        }

                        @if (Model.Brands != null && Model.Brands.Count() > 1)
                        {
                            <div style="    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    border: 1px solid #ccc;margin-right: 6px;padding:5px">
                            <!-- Page: ~/Views/Shared/Blocks/Brand/_BrandsFilters.cshtml -->
                            @Html.Partial("~/Views/Shared/Blocks/Brand/_BrandsFilters.cshtml", Model.Brands)
                            </div>
                        }

                        @if (Model.Categories != null && Model.Categories.Count() > 1)
                        {
                            <div style="    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    border: 1px solid #ccc;margin-right: 6px;padding:5px">
                            <!-- Page: ~/Views/Shared/Blocks/Category/_CategoriesFilters.cshtml -->
                            @Html.Partial("~/Views/Shared/Blocks/Category/_CategoriesFilters.cshtml", Model.Categories)
                            </div>
                        }

                        @if (Model.Attributes != null && Model.Attributes.Count() > 0)
                        {
                            <div style="    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    border: 1px solid #ccc;margin-right: 6px;padding:5px">
                            <!-- Page: ~/Views/Shared/Blocks/Atribute/_AtributesFilters.cshtml -->
                            @Html.Partial("~/Views/Shared/Blocks/Atributes/_AtributesFilters.cshtml", Model.Attributes)
                            </div>
                        }
                        <div style=" display: flex;flex-direction: column;width: 100%;flex: 1;border: 1px solid #ccc;">
                        @Html.Partial("~/Views/Shared/Blocks/Product/_PriceFilters.cshtml")
                        </div>
                    </div>
                </div>
            </div>
                <!-- Page: ~/Views/Shared/Blocks/Group/_GroupList.cshtml -->
                @Html.Action("GroupList", "Group")
        </div>

    </div>
</div>
<!-- ==== INPUTS PARA UTILIZAR NO FILTRO -->
@*<input type="hidden" id="idCategory" name="idCategory" value="" />
<input type="hidden" id="idBrand" name="idBrand" value="" />
<input type="hidden" id="idGroup" name="idGroup" value="" />
<input type="hidden" id="variationSelected" name="variationSelected" value="" />
<input type="hidden" id="order" name="order" value="" />
<input type="hidden" id="variationSelected" name="variationSelected" value="" />
<input type="hidden" id="viewList" name="viewList" value="" />*@
